<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Jenkins Build Process</title>
</head>
<body>
<p>${buildStatus}: Job '${env.JOB_NAME} [${env.BUILD_NUMBER}]':</p>
<p>Check console output at &QUOT;<a href='${env.BUILD_URL}'>${env.JOB_NAME} [${env.BUILD_NUMBER}]</a>&QUOT;</p>
</body>
</html>
