<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

  <!-- Appenders -->
  <appender name="default.console" class="org.apache.log4j.ConsoleAppender">
    <param name="target" value="System.out"/>
    <param name="threshold" value="debug"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{ISO8601} %-5p [%c{1}] - %m%n"/>
    </layout>
  </appender>
  
  <appender name="default.console.plain" class="org.apache.log4j.ConsoleAppender">
    <param name="target" value="System.out"/>
    <param name="threshold" value="debug"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{ISO8601} %-5p - %m%n"/>
    </layout>
  </appender>
  
<!--  <logger name="de.digitalcollections.commons.xml" additivity="false">
    <level value="info"/>   warn 
    <appender-ref ref="default.console"/>
  </logger>-->

  <root>
    <priority value="info"/>
    <appender-ref ref="default.console"/>
  </root>

</log4j:configuration>
